.noselect {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.select {
	-webkit-touch-callout: all;
	-webkit-user-select:all;
	-khtml-user-select:all;
	-moz-user-select:all;
	-ms-user-select:all;
	user-select:all
}


.color-btn {
	padding:3px !important
}

.color-btn span {
	border:1px #000 solid;
	width:20px;
	height:20px
}

#chatspace {
	width:350px;
	overflow-y:scroll;
	border:1px solid silver
}

#chatinput {
	width:350px;
	margin-top:10px
}

#whiteboard {
	border:1px solid silver;
	background-color: #FFF;
}

.chat-container {
	vertical-align:top;
	padding:5px
}

.board-container {
	vertical-align:top;
	padding:5px
}

.navbar {
border-radius: 0px;
}

.navbar-brand {
font-family: 'Oswald', sans-serif;
    font-size: 30px;
padding: 0px;
line-height: 50px;
}

.my-chat-message {
	padding-right: 10px;
	text-align: right;
	margin-bottom: 3px;
}

.chat-message  {
	border-radius: 30px;
	padding: 3px 10px;
	display: inline-block
}

.my-chat-message  > .chat-message  > a {
	text-decoration: underline;
	color: #ffffff;
}

.other-chat-message   > .chat-message  > a {
	text-decoration: underline;
	color: #000000;
}

.my-chat-message  > .chat-message {
	background: #076AD0;
	color: #ffffff;
}

.chat-name-header  {
	padding-left: 40px;
	margin-top: 15px;
	font-size: 12px;
}

.other-chat-message   {
	padding-left: 10px;
	margin-bottom: 3px;
}

.other-chat-message   > .chat-avatar-container {
	width: 28px;
	display: inline-block;
	padding-right: 2px;
}

.chat-avatar {
	width: 28px;
	height: 28px;
}


.other-chat-message  > .chat-message  {
	background: #DADADA;
	color: #000000;
}


body {
	
}